.skill + .skill {
	margin-top: 1rem;
}

.skillBar {
	background-color: var(--link);
	border-radius: 20px;
	overflow: hidden;
	box-shadow: inset 0px 4px 9px -4px rgba(0, 0, 0, .84);
}

.skillInner {
	background-color: #fd30a8;
	height: .5rem;
	box-shadow: inset -40px 0px 56px -30px rgba(255, 119, 15, 0.8);
}