.experience {
	padding: 1rem;
    background-color: rgba(255, 255, 255, .4);
    border-radius: var(--base-rounding);
	display: flex;
	flex-direction: column;
    position: relative;
    overflow: hidden;
    box-shadow: inset 1px 1px 0 #fff, 1px 2px 12px rgba(27, 4, 68, 0.08), 2px 4px 28px rgba(72, 4, 104,.16);

    & p + p {
        margin-top: 0.6rem;
    }
}

.experienceWhen {
    color: rgba(255, 255, 255, .80);
    font-size: 0.87rem;
    font-family: robotolight;
}

.companyLink {
    font-size: 1rem;
    font-family: robotoregular;
}

.link-container {
	padding-top: 2em;
}

/* ==========================================================================
	Over 840 width
	========================================================================== */
	@media screen and (min-width: 840px) {

		.experience {
			padding: 2rem;
		}
}

@media (prefers-color-scheme: dark) {
	.experience {
        background-color: rgba(0, 0, 0, .3);
        box-shadow: inset 1px 1px 0 rgba(255, 255, 255, .05), 1px 2px 12px rgba(1, 0, 2, 0.08), 2px 4px 18px rgba(2, 0, 3, 0.1);
    }
}