header {
	background-color: #610766;
	background-image: linear-gradient(243deg,
				#72169c 0%,
				#7837e0 36%,
				#9e71f3 100%);
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	margin-bottom: 4rem;
	box-shadow: inset 0px -4px 12px -6px rgba(0, 0, 0, 0.25);
	display: flex;
	flex: 1;
	justify-content: center;
	position: relative;
	color: #33044e;
	z-index: 100;
	transition: all .4s ease;

	h1,
	h2 {
		text-shadow: 0px 0px 2px rgba(255, 255, 255, 0.25);
		transition: all .4s ease;
	}

	h1 {
		font-size: 1.6rem;
	}

	h2 {
		font-size: 1.4rem;
	}
}

.bubble {
	width: 6rem;
	height: 6rem;
	overflow: hidden;
	border: 2px solid #fff;
	position: absolute;
	bottom: -4rem;
	left: 50%;
	margin-left: -3em;
	box-shadow:
		1px 2px 4px rgba(0, 0, 0, 0.18),
		1px 1px 7px 2px rgba(0, 0, 0, 0.24);
	border-radius: 50%;
	transition: all .4s ease;

	img {
		width: 100%;
		height: 100%;
	}
}

/* ==========================================================================
Over 720 width
========================================================================== */
@media screen and (min-width: 720px) {
	header {
		padding-bottom: 3rem;
		h1 {
			font-size: 1.6rem;
		}

		h2 {
			font-size: 1.4rem;;
		}
	}

	.bubble {
		width: 9rem;
		height: 9rem;
		margin-left: -4.5rem;
		top: 4rem;
	}
}

/* ==========================================================================
Over 840 width
========================================================================== */
@media screen and (min-width: 840px) {

	@supports (container-type: scroll-state) {
		.stuck-top {
			container-type: scroll-state;
			position: sticky;
			top: 0px;
			z-index: 111;

			header {
				@container scroll-state(stuck: top) {
					padding-bottom: 0;
					background-color: transparent;
					backdrop-filter: blur(0.3rem);
					background-image: linear-gradient(243deg,
					#72169cc6 0%,
					#7837e0d1 32%,
					#9f71f3c4 100%);
				}
			}

			.bubble {
				@container scroll-state(stuck: top) {
					width: 4rem;
					height: 4rem;
					left: 2rem;
					top: 1rem;
					margin-left: 0;
				}
			}

			h1, h2 {
				@container scroll-state(stuck: top) {
					padding-left: 5rem;
				}
			}
		}
	}
}

@media print {
	header {
		padding-bottom: 4rem;
	}
}

@media (prefers-color-scheme: dark) {
	.bubble {
		border: 2px solid #090116;
	}
}