/**
 * WHAT IS THIS FILE?
 *
 * Globally applied styles. No matter which components are in the page or matching route,
 * the styles in here will be applied to the Document, without any sort of CSS scoping.
 *
 */

 :root {
	--font-stack: 'robotoregular', sans-serif;

	--font-color: #270b55;
	--grey-background: #f3edf5;

	--link: #53008a;
	--link-light: #8618b9;

	--base-margin: 1em;

	--base-rounding: 4px;
}

@property --a { /* must register --a to animate it */
	syntax: '<angle>';
	initial-value: 0deg;
	/* used only on pseudo, nowhere to be inherited, 
	 * better perf if set false, see 
	 * https://www.bram.us/2024/10/03/benchmarking-the-performance-of-css-property/ */
	inherits: false
}

.fire::before {
	opacity: 0;
	z-index: 10;
	/* grid doesn't work for stacking when a stacked item is text node */
	position: absolute;
	/* place behind card content, so card text is selectable, etc */
	z-index: -1;
	/* best if inset is at least half the border-width with minus */
	inset: -1em;
	/* reserve space for border */
	border: solid 1em;
	border-image: 
		/* adjust gradient as needed, I just used a random palette */
		conic-gradient(from var(--a), #aa22ff, transparent, #9922aa, #cc0066, transparent, 
				#ff0099, #cc22aa, transparent, #990033, #cc3399, 
				#ff2200, #ff22dd, #ff2255, #aa22cc) 1;
	/* blur this pseudo */
	filter: blur(1.5em);
	/* tweak animation duration as necessary */
	animation: a 18s linear infinite;
	/* needed so pseudo is displayed */
	content: '';
	transition: opacity 4s ease;
	mask-image: conic-gradient(from calc(var(--a) * -1), transparent, #9922aa, transparent, 
				transparent, #cc22aa, transparent, #990033, #ff2200, #ff22dd, #ff2255, #aa22cc, transparent);
}

.fire:hover::before {
	opacity: .8;
}

/* animate --a from its initial-value 0deg to 1turn */
@keyframes a { to { --a: 1turn } }

html {
	display: flex;
	flex: 1;
	box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

::selection {
	background: rgba(7, 151, 177, 0.3);
	text-shadow: none; }

body {
	font-size: 16px;
	color: var(--font-color);
	background-color: var(--grey-background);
	padding: 0em;
 	margin: 0em;
	font-family: var(--font-stack);
	font-weight: 400;
	display: flex;
	flex: 1;
    flex-direction: column;
    print-color-adjust: exact !important;
}

p, a {
	font-size: 1rem;
	line-height: 1.6rem;
	margin: 0; 
	transition: all .25s ease;
}

p a {
	font-size: 1rem;
}

a, a:visited {
	color: var(--link);
}

a:hover {
	color: var(--link-light);
}

a:focus-visible {
	outline-offset: 2px;
	outline: #270b55 solid 2px;
	border-radius: 0.25rem;
}

button:focus-visible {
	outline-offset: 2px;
	outline: #270b55 solid 2px;
}

.textContent p + p {
	margin-top: 1.2rem;
}

h1 {
	font-size: 1.74rem;
	font-weight: 700;
	margin: 0px;
}

h2 {
	font-size: 1.5rem;
	font-weight: 400;
	line-height: 52px;
	display: inline-block;
	margin: 0px;
	vertical-align: top;
}	

h3 {
	font-size: 1.3rem;
	font-weight: 700;
	margin: .4em 0px;
}

h4 {
	margin: 1.25rem 0;
	font-size: 1.15rem;
	font-weight: 400; 
}

.wrap {
	display: flex;
	flex: 1;
	min-width: 20rem;
	max-width: 84rem;
    margin: 0 auto;
}

.section {
	padding: 1rem;
}

main {
  display: flex;
  flex: 1;
  flex-direction: column;
}

section {
	display: flex;
	flex: 1;
	justify-content: center;
}

.main-layout {
	flex-direction: column;
}

.column {
	width: 100%; 
}

.sectionHeader {
	margin-bottom: 1rem;
	display: flex;
	align-items: center;

	a h2 {
		text-decoration: underline;
	}
}

.icon {
	overflow: hidden;
	position: relative;
	width: 3.5rem;
	height: 3.5rem;
	margin-right: 0.75rem;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-image: radial-gradient(circle, rgb(104, 12, 224) 0%, rgb(48, 29, 83) 100%);

	img {
		max-width: 3rem;
		filter: drop-shadow(0 -1px 2px rgba(29, 2, 46, 0.84));
	}

	&.linkIcon {
		background-color: var(--link);
		background-image: radial-gradient(circle, rgb(163, 25, 255) 0%, rgba(7, 80, 163, 0) 100%);
		display: inline-flex;

		&:hover {
			background-color: var(--link-light);
		}
	}
}

.spectrums {
	margin: 1rem -1rem 0;
}

.raised {
	box-shadow: 1px 2px 4px rgba(27, 4, 68, 0.32), 2px 2px 7px 1px rgba(72, 4, 104, 0.48);
    transform: scale(1);
    transition: all .25s ease;

	&:hover, &:focus-visible {
		box-shadow: 2px 4px 8px rgba(27, 4, 68, 0.28), 7px 7px 14px rgba(72, 4, 104,.3);
		transform: translate(-1px, -4px) scale(1.1);
	}
}

.experiences {
	page-break-before: always;
}

.positionList {
    transition: height 0.4s ease-in;
    height: calc-size(auto);
}

.activities {
	h4 {
		margin: 0;
	}

	h4 + h4 {
		margin-top: 0.5rem;
	}
}

.btn-secondary {
	background-color: #fff;
	color: var(--link);
	border: none;
	font-family: robotoregular;
	font-weight: 400;
	border-radius: 50px;
	padding: .4rem 1.2rem;
	text-decoration: none;
	display: inline-block;
	transition: all .25s ease;
	font-size: 1rem;
	cursor: pointer;
}

/* ==========================================================================
   Over 460 width
   ========================================================================== */
   @media screen and (min-width: 460px) {

	.section_right .section {
		width: 50%;
		display: inline-flex;
		flex-direction: column;
	}

}

/* ==========================================================================
   Over 840 width
   ========================================================================== */
@media screen and (min-width: 840px) {
	.wrap {
		padding: 0 2rem;
	}

	.wrap.main-layout {
		flex-direction: row;
	}

	.section_left, .section_right {
		display: inline-flex;
		flex-direction: column;
	}

	.section_right {
		flex: 1;
		padding-left: 4em;
	}

	.section_right .section {
		width: 100%;
	}

	.section {
		padding: 2rem 0; 
	}

	.section_left {
		flex: 2;
	}

	.section_left.column {
		width: 50%; 
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		--font-color: #ffffff;
		--grey-background: #0e0618;

		--link: #891cd1;
		--link-light: rgb(176, 35, 189);
	}
	
	.btn-secondary {
		background-color: var(--link);
		color: #fff;
		border: none;
		font-weight: 700;
		border-radius: 50px;
		padding: .4rem 1.2rem;
		text-decoration: none;
		display: inline-block;
		transition: all .25s ease;
		font-size: 1rem;
		cursor: pointer;

		&:hover {
			background-color: var(--link-light);
		}
	}

	a:focus-visible, button:focus-visible {
		outline-color: #fff;
	}
}

/* ==========================================================================
   Print
   ========================================================================== */
@media print {

	footer, #toggleAllPostions, #githubSection {
		display: none !important;
	}

    .section_right .section {
		width: 50%;
		display: inline-flex;
		flex-direction: column;
	}

    p, a {
        font-size: 1rem;
    }

    .experience {
        break-inside: avoid;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
	display: none !important;
	visibility: hidden; 
}

@font-face {
    font-family: 'robotobold';
    src: url('../fonts/roboto-bold-webfont.woff2') format('woff2'),
         url('../fonts/roboto-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotolight';
    src: url('../fonts/roboto-light-webfont.woff2') format('woff2'),
         url('../fonts/roboto-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotoregular';
    src: url('../fonts/roboto-regular-webfont.woff2') format('woff2'),
         url('../fonts/roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@page {
    margin: 0;
}