/**
 * WHAT IS THIS FILE?
 *
 * Globally applied styles. No matter which components are in the page or matching route,
 * the styles in here will be applied to the Document, without any sort of CSS scoping.
 *
 */

 :root {
	--font-stack: 'robotoregular', sans-serif;

	--font-color: #270b55;
	--grey-background: #f3edf5;

	--link: #53008a;
	--link-light: #8618b9;

	--blue-text: #007c9b;

	--blue-bg: #24b8dd;
	--green-bg: #0c848d;

	--base-margin: 1em;

	--base-rounding: 4px;
}

html {
	display: flex;
	flex: 1;
	box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

::selection {
	background: rgba(7, 151, 177, 0.3);
	text-shadow: none; }

body {
	font-size: 10px;
	color: var(--font-color);
	background-color: var(--grey-background);
	padding: 0em;
 	margin: 0em;
	font-family: var(--font-stack);
	font-weight: 400;
	display: flex;
	flex: 1;
    flex-direction: column;
    print-color-adjust: exact !important;
}

p, a {
	font-size: 1rem;
	line-height: 1.6rem;
	margin: 0; 
	transition: all .2s ease;
}

p a {
	font-size: 1rem;
}

a, a:visited {
	color: var(--link);
}

a:hover {
	color: var(--link-light);
}

a:focus-visible {
	outline-offset: 2px;
	outline: #270b55 solid 2px;
	border-radius: 0.25rem;
}

button:focus-visible {
	outline-offset: 2px;
	outline: #270b55 solid 2px;
}

.textContent p + p {
	margin-top: 1.4rem;
}

h1 {
	font-size: 1.74rem;
	font-weight: 700;
	margin: 0px;
}

h2 {
	font-size: 1.5rem;
	font-weight: 400;
	line-height: 52px;
	display: inline-block;
	margin: 0px;
	vertical-align: top;
}	

h3 {
	font-size: 1.3rem;
	font-weight: 700;
	margin: .4em 0px;
}

h4 {
	margin: 1.25rem 0;
	font-size: 1.15rem;
	font-weight: 400; 
}

.wrap {
	display: flex;
	flex: 1;
	min-width: 30em;
	max-width: 110em;
    margin: 0 auto;
}

.section {
	padding: 2em;
}

main {
  display: flex;
  flex: 1;
  flex-direction: column;
}

section {
	display: flex;
	flex: 1;
	justify-content: center;
}

.main-layout {
	flex-direction: column;
}

.column {
	width: 100%; 
}

.sectionHeader {
	margin-bottom: 1em;
	display: flex;
	align-items: center;

	a h2 {
		text-decoration: underline;
	}
}

.icon {
	width: 5.2em;
	height: 5.2em;
	margin-right: 1em;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--blue-bg);
	background-image: radial-gradient(circle, rgba(0,212,255,0) 0%, rgb(7, 80, 163) 100%);

	img {
		max-width: 4.8em;
		filter: drop-shadow(0 -1px 2px rgba(43, 4, 68, .84));
	}

	&.linkIcon {
		background-color: var(--link);
		background-image: radial-gradient(circle, rgb(163, 25, 255) 0%, rgba(7, 80, 163, 0) 100%);
		display: inline-flex;

		&:hover {
			background-color: var(--link-light);
		}
	}
}

.spectrums {
	margin: 1em -2em 0;
}

.raised {
	box-shadow: 1px 2px 4px rgba(27, 4, 68, 0.32), 2px 2px 7px 1px rgba(72, 4, 104, 0.48);
    transform: scale(1);
    transition: all .15s ease;

	&:hover, &:focus-visible {
		box-shadow: 2px 4px 8px rgba(27, 4, 68, 0.28), 7px 7px 14px rgba(72, 4, 104,.3);
		transform: translate(-1px, -4px) scale(1.1);
	}
}

.experiences {
	page-break-before: always;
}

.positionList {
    transition: height 0.4s ease-in;
    height: calc-size(auto);
}

.btn-secondary {
	background-color: #fff;
	color: var(--link);
	border: none;
	font-weight: 700;
	border-radius: 50px;
	padding: .4rem 1.2rem;
	text-decoration: none;
	display: inline-block;
	transition: all .25s ease;
	font-size: 1rem;
	cursor: pointer;
}

.github img {
	max-width: 42px;
}


/* ==========================================================================
   Over 460 width
   ========================================================================== */
   @media screen and (min-width: 460px) {

	.section_right .section {
		width: 50%;
		display: inline-flex;
		flex-direction: column;
	}

}

/* ==========================================================================
   Over 980 width
   ========================================================================== */
@media screen and (min-width: 800px) {
	.wrap {
		padding: 0 2em;
	}

	.wrap.main-layout {
		flex-direction: row;
	}

	.section_left, .section_right {
		display: inline-flex;
		flex-direction: column;
	}

	.section_right {
		flex: 1;
		padding-left: 4em;
	}

	.section_right .section {
		width: 100%;
	}

	.section {
		padding: 3em 0em; 
	}

	.section_left {
		flex: 2;
	}

	.section_left.column {
		width: 50%; 
	}
}

/* ==========================================================================
   Print
   ========================================================================== */
@media print {

	footer, #toggleAllPostions, #githubSection {
		display: none !important;
	}

    .section_right .section {
		width: 50%;
		display: inline-flex;
		flex-direction: column;
	}

    p, a {
        font-size: 1rem;
    }

    .experience {
        break-inside: avoid;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
	display: none !important;
	visibility: hidden; 
}

@font-face {
    font-family: 'robotobold';
    src: url('../fonts/roboto-bold-webfont.woff2') format('woff2'),
         url('../fonts/roboto-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotolight';
    src: url('../fonts/roboto-light-webfont.woff2') format('woff2'),
         url('../fonts/roboto-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotoregular';
    src: url('../fonts/roboto-regular-webfont.woff2') format('woff2'),
         url('../fonts/roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@page {
    margin: 0;
}